.container {
  display: flex;
  column-gap: 24px;
  .img-container {
    max-width: 315px;
    min-width: 250px;
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
}

@media (max-width: 750px) {
  /* … */
  .container {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
