<div class="container">
  <div class="img-container">
    <img src="../../../assets/imagen" alt="meme" />
  </div>
  <div class="test-stuff">
    <h1>Imprimir o no imprimir? He ahí el dilema.</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ipsum
      fugit eum sunt quod nam possimus voluptatem repellendus itaque iusto
      aperiam voluptatibus cumque, quo reiciendis aspernatur delectus
      consequatur facilis saepe!
    </p>
    <h5>Escrito por Chimuelo</h5>
  </div>
</div>
