<div class="mat-card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pedefeando...</mat-card-title>
      <mat-card-subtitle>Should we jsPdf or PDFKit?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-killer-comp id="capture"></app-killer-comp>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        (click)="jsPdfStuff()"
        matTooltipPosition="above"
        [matTooltipDisabled]="image"
        matTooltip="Firt Generate Snapshot"
      >
        Download jsPDF
      </button>
      <button
        mat-button
        (click)="shareStuff()"
        matTooltipPosition="above"
        [matTooltipDisabled]="image"
        matTooltip="Firt Generate Snapshot"
      >
        Share Image
      </button>
      <button mat-button (click)="takeSnapShot()">Snapshot</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="image">
    <div class="img-container">
      <img id="capturado" [src]="image" alt="capture of killer component" />
    </div>
    <mat-card-actions align="end">
      <button mat-button (click)="eraseSnapShot()">Erase</button>
    </mat-card-actions>
  </mat-card>
</div>
