mat-card {
  max-width: 50vw;
  .img-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

#capturado {
  max-width: 620px;
}

.mat-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media (max-width: 480px) {
  mat-card {
    max-width: 70vw;
  }
}
